# Dependencies
node_modules
.pnpm-debug.log*

# Build outputs
dist
dist-ssr
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
